{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>List of Announcements</h1>

        <div class="row">
            {% for annonce in annonces %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if annonce.image_a %}
                            <img src="{{ asset('uploads/images/' ~ annonce.image_a) }}" class="card-img-top" alt="{{ annonce.titre_a }}">
                        {% else %}
                            <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image placeholder">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.titre_a }}</h5>
                            <p class="card-text">{{ annonce.description_a | slice(0, 100) ~ '...' }}</p>
                            <p class="text-muted">{{ annonce.date_a | date('Y-m-d H:i') }}</p>
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No announcements found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
