{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <th>Number of Members</th>
                <td>{{ groupe.nbrMembers }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ groupe.descriptionGroup }}</td>
            </tr>
            <tr>
                <th>Group Name</th>
                <td>{{ groupe.nomGroup }}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>{{ groupe.members }}</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>{{ groupe.dateCreationGroup ? groupe.dateCreationGroup|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ groupe.image }}</td>
            </tr>
            <tr>
                <th>Meeting Date</th>
                <td>{{ groupe.dateMeet ? groupe.dateMeet|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_group_index') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> Back to List
    </a>

    <a href="{{ path('app_group_edit', {'id': groupe.id}) }}" class="btn btn-warning">
        <i class="bi bi-pencil"></i> Edit
    </a>

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
