{% extends 'back/baseback.html.twig' %}

 

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier l'utilisateur {{ user.name }}</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.roles) }}
            </div>
            <div class="form-group">
                {{ form_row(form.is_verified) }}
            </div>
            <div class="form-group">
                {{ form_row(form.save) }}
            </div>
        {{ form_end(form) }}
        
        <a href="{{ path('app_admin') }}" class="btn btn-secondary mt-3">Retour à la liste des utilisateurs</a>
    </div>
{% endblock %}