{% extends 'back/baseback.html.twig' %}

{% block body %}
<div class="az-content az-content-dashboard">
    <div class="container">
        <div class="az-content-body">
            

            <!-- Navigation Tabs -->
            <div class="az-dashboard-nav"> 
                <nav class="nav">
                    <a href="{{ path('app_add_offre') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_add_offre' %}active{% endif %}">Add Offre</a>
                    <a href="{{ path('offre_list') }}" class="nav-link {% if app.request.attributes.get('_route') == 'offre_list' %}active{% endif %}">List</a>
                    <a class="nav-link" data-toggle="tab" href="#">charts</a>
                   
                </nav>

               
            </div>

            <!-- Formulaire -->
            <div class="form-container">
                <h1>Add offer</h1>

                {{ form_start(f, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
                <div class="row">
                    {% for field in f %}
                    <div class="col-md-6 mb-3">
                        {{ form_label(field) }}
                        {{ form_widget(field, {
                            'attr': {
                                'class': 'form-control' ~ (field.vars.errors|length > 0 ? ' is-invalid' : '')
                            }
                        }) }}

                        {% if field.vars.errors|length > 0 %}
                            <div class="invalid-feedback">
                                {% for error in field.vars.errors %}
                                    <p>{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>

                {{ form_end(f) }}
            </div>
        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->
{% endblock %}
