{% extends 'base.html.twig' %}

{% block title %}Add New Project{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Add New Project</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
        
        <!-- Project Title -->
        <div class="mb-3">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titre) }}  <!-- Affichage des erreurs -->
        </div>

        <!-- Project Description -->
        <div class="mb-3">
            {{ form_label(form.description_project) }}
            {{ form_widget(form.description_project, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description_project) }}  <!-- Affichage des erreurs -->
        </div>

        <!-- File Upload Field -->
        <div class="mb-3">
            {{ form_label(form.fichier_pdf) }}
            {{ form_widget(form.fichier_pdf, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.fichier_pdf) }}  <!-- Affichage des erreurs -->
        </div>
         <div class="mb-3">
            {{ form_label(form.difficulte) }}
            {{ form_widget(form.difficulte, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.difficulte) }}  <!-- Affichage des erreurs -->
        </div>

         <div class="mb-3">
            {{ form_label(form.date_limite) }}
            {{ form_widget(form.date_limite, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.date_limite) }}  <!-- Affichage des erreurs -->
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Save Project</button>
        </div>

        {{ form_end(form) }}
        
        <a href="{{ path('app_project_index') }}" class="btn btn-secondary">Back to Project List</a>
    </div>

{% endblock %}
