{% extends 'front/base.html.twig' %}

{% block body %}
<div class="container py-5">
    <h2 class="mb-4">Profile Settings</h2>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter new password">
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
    <h1>Edit Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.profileimage) }}
        {{ form_row(form.bio) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.accountname) }}
        {{ form_row(form.status) }}
        {{ form_row(form.role) }}
        {{ form_row(form.usertype) }}
        {{ form_row(form.genre) }}
        {{ form_row(form.sessiontocken) }}
        {{ form_row(form.image) }}
        {{ form_row(form.datecreation) }}
        {{ form_row(form.lastlogin) }}
        {{ form_row(form.sessionexpiration) }}

        <button type="submit">Save Changes</button>
    {{ form_end(form) }}
{% endblock %}