{% extends 'front/base.html.twig' %}


{% block body %}
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
<div class="container" data-aos="fade-up" data-aos-delay="100">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="assets/img/team/team-2.jpg" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">Sean Ngu</h4>
                        <p class="m-b-10">UXUI + Frontend Developer</p>
                        <a href="editProfile.html">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <rect width="24" height="24" fill="none"/>
                              <path d="M.75,17.5A.751.751,0,0,1,0,16.75V12.569a.755.755,0,0,1,.22-.53L11.461.8a2.72,2.72,0,0,1,3.848,0L16.7,2.191a2.72,2.72,0,0,1,0,3.848L5.462,17.28a.747.747,0,0,1-.531.22ZM1.5,12.879V16h3.12l7.91-7.91L9.41,4.97ZM13.591,7.03l2.051-2.051a1.223,1.223,0,0,0,0-1.727L14.249,1.858a1.222,1.222,0,0,0-1.727,0L10.47,3.91Z" transform="translate(3.25 3.25)" fill="#ffffff"/>
                            </svg>
                          </a>
                        
                          
                          
                          
                          <a href="message.html">
                            <svg class="svg-icon" style="width: 24px; height: 24px; vertical-align: middle; fill: #ffffff; overflow: hidden;" viewBox="0 0 1071 1024" xmlns="http://www.w3.org/2000/svg">
                              <path d="M395.701 434.549c0 25.716-18.369 47.759-47.759 47.759-25.716 0-47.759-22.043-47.759-47.759s22.042-47.759 47.759-47.759c29.391 0 47.759 22.043 47.759 47.759z m547.394-25.716c0-198.385-183.69-360.032-411.465-360.032-231.449 0-415.138 161.647-415.138 360.032 0 117.562 66.129 227.775 176.341 293.903v113.888c0 11.021 7.348 18.369 14.694 22.042h7.348c7.348 0 11.021 0 14.694-3.674l51.434-33.065 3.674-3.674 58.78-36.739c29.391 3.674 58.78 7.348 88.171 7.348 227.775 0 411.465-161.647 411.465-360.032zM325.898 673.346c-102.865-58.78-165.321-157.972-165.321-264.513 0-172.669 165.321-315.946 371.053-315.946 202.058 0 367.379 143.278 367.379 315.946 0 172.669-165.321 315.946-367.379 315.946-29.391 0-58.78-3.674-88.171-7.348-7.348-3.674-14.694 0-18.369 0l-69.801 47.759-18.369 11.021v-84.497c0-7.348-3.674-14.694-11.021-18.369zM586.737 423.53c0 25.716-22.042 47.759-47.759 47.759s-47.759-22.042-47.759-47.759c0-29.391 22.042-47.759 47.759-47.759 25.716 0 47.759 18.369 47.759 47.759z m183.691 0c0 25.716-18.369 47.759-47.759 47.759-25.716 0-47.759-22.042-47.759-47.759 0-29.391 22.042-47.759 47.759-47.759 29.391 0 47.759 18.369 47.759 47.759z"/>
                            </svg>
                          </a>

                          <a href="createGrp.html" style="display: inline-block; cursor: pointer;">
                            <svg fill="#8c84a1" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                viewBox="0 0 483.886 483.886" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M475.886,377.543h-60v-59.6c0-4.4-3.6-8-8-8c-4.4,0-8,3.6-8,8v59.6h-60c-4.4,0-8,3.6-8,8c0,4.4,3.6,8,8,8h60v60.4
                                                c0,4.4,3.6,8,8,8c4.4,0,8-3.6,8-8v-60.4h60c4.4,0,8-3.6,8-8C483.886,381.143,480.286,377.543,475.886,377.543z"/>
                                            <path d="M336.686,254.343c12,3.6,23.2,9.2,32,17.2c3.2,2.8,8.4,2.4,11.2-0.8s2.4-8.4-0.8-11.2c-10.8-9.6-24-16.4-38.8-20.4
                                                l-4.8-1.2c-7.6-2-16,0.8-20.8,6.4c-17.6,20-40,21.6-63.6,21.6c-23.2,0-45.6-1.6-63.2-21.6c-5.2-6-13.2-8.4-20.4-6.4l-4.8,1.2
                                                c-33.2,8.8-59.6,34.4-69.2,67.6l-6.8,23.2c-0.4,0-0.8,0-1.2,0h-66c-1.6,0-2.4-0.8-2.8-1.2c-0.4-0.4-1.2-1.6-0.8-3.2l13.2-46.8
                                                c11.2-37.2,34.8-49.2,77.2-59.2c0.8,0,1.2-0.4,2-0.8c2.8,2,6,4,8.8,5.6c1.2,0.8,2.4,0.8,3.6,0.8c2.8,0,5.6-1.6,7.2-4.4
                                                c2-4,0.4-8.8-3.2-10.8c-23.6-12-40.8-46.8-40.8-82.4c0-32.4,26-58.4,58.4-58.4c9.6,0,18.4,2.4,27.2,6.8
                                                c-4.8,11.2-7.6,23.6-7.6,36.4c0,68.4,41.2,126,90.4,126c48,0,90.4-58.8,90.4-126c0-50-40.4-90.4-90.4-90.4
                                                c-31.2,0-58.8,16-75.2,40l-0.4-0.4c-10.8-5.6-22.4-8.4-34.4-8.4c-41.2,0-74.4,33.2-74.4,74.4c0,30,10.4,58.8,26.8,78
                                                c-36.4,9.2-66.8,22.8-80.8,68.4l-13.2,47.2c-1.6,6-0.4,12.4,3.6,17.2c3.6,4.8,9.2,7.6,15.2,7.6h62.4l-5.6,18.8
                                                c-2,6.8-0.8,14,3.6,19.6c4.4,5.6,11.2,9.2,18.4,9.2h169.6c4.4,0,8-3.6,8-8c0-4.4-3.6-8-8-8h-169.6c-2,0-4-0.8-5.2-2.8
                                                c-0.8-0.8-1.6-2.8-0.8-5.6l16.8-58.4c8-27.6,30-49.2,58-56.4l4.8-1.2c1.6-0.4,3.2,0.4,4.4,1.6c22,25.2,49.2,27.2,75.6,27.2
                                                s53.6-2,75.6-27.2c0,0,0-0.4,0.4-0.4c0.8-0.8,2.8-1.6,4-1.2L336.686,254.343z M252.286,37.943c33.2,0,61.2,22,70.8,52
                                                c-14,2.8-28.8-2.8-37.6-14.8c-2.8-3.6-7.6-4.4-11.2-1.6c-1.6,1.2-2.4,2.4-2.8,4c-0.4,0.4-0.4,0.8-0.8,1.2
                                                c-11.2,22.8-48.8,32.4-92,24C183.486,66.343,214.686,37.943,252.286,37.943z M208.686,121.543c32,0,58.4-10,72-28.8
                                                c10,8.8,22.4,13.6,35.6,13.6c3.2,0,6.8-0.4,10-1.2c0.4,2.4,0.4,4.4,0.4,6.8c0,58.8-34.8,110.4-74.4,110.4
                                                c-38,0-72-47.6-74.4-103.6C188.686,120.743,198.686,121.543,208.686,121.543z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                          
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts" target="__blank" class="nav-link_">POSTS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-about" target="__blank" class="nav-link_">ABOUT</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-photos" target="__blank" class="nav-link_">PHOTOS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos" target="__blank" class="nav-link_">VIDEOS</a></li>
                     <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list" target="__blank" class="nav-link_ active show">FRIENDS</a></li>
                  </ul>
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->


            <div class="profile-content">
               <!-- begin tab-content -->
                <!-- New Post Form -->
<!-- New Post Form -->
<div class="post-form" style="text-align: right; background: transparent;">
    <div class="input-group" style="max-width: 400px; margin: auto; position: relative;">
        <textarea class="form-control" rows="2" placeholder="What's on your mind?" style="height: auto; padding-right: 60px;"></textarea>
        
        <!-- SVG Icons Container -->
        <div style="position: absolute; bottom: 5px; right: 5px; display: flex; align-items: center; gap: 3px;">
            <!-- File Upload SVG Icon (Smaller) -->
            <label class="btn btn-icon" for="file-upload" style="cursor: pointer;">
                <input type="file" id="file-upload" style="display: none;" />
                <svg fill="#000000" height="20px" width="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 509.371 509.371" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M452.758,36.265c-48.354-48.354-127.045-48.354-175.399,0L62.657,250.967c-6.777,6.778-6.777,17.764,0,24.541
                                c6.786,6.777,17.764,6.777,24.541,0L301.9,60.815c34.825-34.816,91.492-34.816,126.316,0
                                c16.879,16.87,26.164,39.302,26.164,63.158c0,23.864-9.285,46.288-26.164,63.158L158.392,456.956
                                c-23.621,23.63-62.073,23.63-85.695,0c-23.621-23.639-23.63-62.074,0-85.704l217.591-217.591
                                c12.427-12.418,32.638-12.435,45.091,0c12.427,12.418,12.427,32.647,0,45.082L172.902,361.212c-6.777,6.777-6.777,17.764,0,24.541
                                c6.786,6.778,17.764,6.778,24.55,0l162.469-162.469c25.956-25.964,25.956-68.209,0-94.165c-25.964-25.982-68.209-25.964-94.173,0
                                l-217.6,217.591c-37.159,37.15-37.159,97.618,0,134.786c18.588,18.588,42.991,27.874,67.402,27.874s48.814-9.294,67.393-27.874
                                l269.815-269.824c23.439-23.422,36.335-54.567,36.335-87.7C489.092,90.841,476.197,59.696,452.758,36.265z"/>
                        </g>
                    </g>
                </svg>
            </label>
            <!-- Post Button SVG (Black) -->
            <div style="cursor: pointer;">
                <svg class="svg-icon" style="width: 24px; height: 24px; vertical-align: middle; fill: black; overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M948.535261 157.451008c-6.249331-4.759397-14.545274-6.083555-22.019503-3.510964L78.525448 414.560784c-8.849552 3.022847-14.976086 10.93198-15.541975 20.046568-0.566912 9.121751 4.547573 17.691941 12.955056 21.725814l296.857035 142.537344-4.567016 141.646044c-0.274246 8.582469 4.433986 16.575514 12.183484 20.665669 7.730055 4.105504 17.194614 3.581572 24.416086-1.331321l134.167722-69.479421c10.55438-7.167237 13.146415-21.316491 5.78782-31.597649-7.356548-10.280134-21.869077-12.821003-32.429597-5.638417l-96.110965 43.62559 3.579525-111.074771c0.283456-8.895601-4.792143-17.138332-12.984732-21.069875L146.277528 439.512059l761.503541-231.072773-79.214133 598.96977L627.830075 688.215374c-11.083429-6.408967-25.365714-2.817162-31.900547 7.977695-6.55223 10.788717-2.889817 24.697495 8.18338 31.082926l232.486982 137.498584c3.647063 2.100848 7.749498 3.165086 11.855002 3.165086 3.6399 0 7.275707-0.829901 10.621918-2.494821 7.111978-3.551896 11.855002-10.411117 12.57848-18.163685l85.769432-669.892053C958.131827 169.703053 954.787662 162.191986 948.535261 157.451008zM848.26865 272.582165c-9.102309-8.849552-23.844058-8.837272-32.937157 0.041956L471.917096 565.148477c-9.083889 8.873088-9.064446 23.245424 0.049119 32.094976 4.547573 4.418636 10.491958 6.630001 16.442484 6.630001 5.968945 0 11.938913-2.225691 16.488533-6.671956l343.422583-292.52538C857.397564 295.807123 857.383238 281.43888 848.26865 272.582165z" />
                </svg>
            </div>
        </div>
    </div>
</div>
               <div class="tab-content p-0">
                  <!-- begin #profile-post tab -->
                  <div class="tab-pane fade active show" id="profile-post">
                     <!-- begin timeline -->
                     <ul class="timeline">
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date">today</span>
                              <span class="time">04:20</span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              <div class="timeline-header">
                                 <span class="userimage"><img src="assets/img/team/team-2.jpg" alt=""></span>
                                 <span class="username"><a href="javascript:;">Sean Ngu</a> <small></small></span>
                                 <span class="pull-right text-muted">18 Views</span>
                              </div>
                              <div class="timeline-content">
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
                                    Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                                 </p>
                              </div>
                              <div class="timeline-likes">
                                 <div class="stats-right">
                                    <span class="stats-text">259 Shares</span>
                                    <span class="stats-text">21 Comments</span>
                                 </div>
                                 <div class="stats">
                                    <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                    </span>
                                    <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                    </span>
                                    <span class="stats-total">4.3k</span>
                                 </div>
                              </div>
                              <div class="timeline-footer">
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                              </div>
                              <div class="timeline-comment-box">
                                 <div class="user"><img src="assets/img/team/team-2.jpg"></div>
                                 <div class="input">
                                    <form action="">
                                       <div class="input-group">
                                          <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                                          
                                          <button class="btn-comment" type="button">Comment</button>
                                          </span>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date">yesterday</span>
                              <span class="time">20:17</span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              <div class="timeline-header">
                                 <span class="userimage"><img src="assets/img/team/team-2.jpg" alt=""></span>
                                 <span class="username">Sean Ngu</span>
                                 <span class="pull-right text-muted">82 Views</span>
                              </div>
                              <div class="timeline-content">
                                 <p>Location: United States</p>
                              </div>
                              <div class="timeline-footer">
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                              </div>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date">24 February 2014</span>
                              <span class="time">08:17</span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              <div class="timeline-header">
                                 <span class="userimage"><img src="assets/img/team/team-2.jpg" alt=""></span>
                                 <span class="username">Sean Ngu</span>
                                 <span class="pull-right text-muted">1,282 Views</span>
                              </div>
                              <div class="timeline-content">
                                 <p class="lead">
                                    <i class="fa fa-quote-left fa-fw pull-left"></i>
                                    Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna. Suspendisse mollis in sem vel mollis.
                                    <i class="fa fa-quote-right fa-fw pull-right"></i>
                                 </p>
                              </div>
                              <div class="timeline-footer">
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                              </div>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date">10 January 2014</span>
                              <span class="time">20:43</span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              <div class="timeline-header">
                                 <span class="userimage"><img src="assets/img/team/team-2.jpg" alt=""></span>
                                 <span class="username">Sean Ngu</span>
                                 <span class="pull-right text-muted">1,021,282 Views</span>
                              </div>
                              <div class="timeline-content">
                                 <h4 class="template-title">
                                    <i class="fa fa-map-marker text-danger fa-fw"></i>
                                    795 Folsom Ave, Suite 600 San Francisco, CA 94107
                                 </h4>
                                 <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
                                 <p class="m-t-20">
                                    <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                                 </p>
                              </div>
                              <div class="timeline-footer">
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                 <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                              </div>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                        <li>
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              Loading...
                           </div>
                           <!-- begin timeline-body -->
                        </li>
                     </ul>
                     <!-- end timeline -->
                  </div>
                  <!-- end #profile-post tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.profileimage) }}
        {{ form_row(form.bio) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.accountname) }}
        {{ form_row(form.status) }}
        {{ form_row(form.role) }}
        {{ form_row(form.usertype) }}
        {{ form_row(form.genre) }}
        {{ form_row(form.sessiontocken) }}
        {{ form_row(form.image) }}
        {{ form_row(form.datecreation) }}
        {{ form_row(form.lastlogin) }}
        {{ form_row(form.sessionexpiration) }}

        <button type="submit">Save Changes</button>
    {{ form_end(form) }}
{% endblock %}