{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              {# Display the user's profile picture, if it exists #}
              <img src="{{ asset('uploads/pfp/' ~ user.pfp) }}" alt="Profile Picture" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
<a href="{{ path('profile_edit') }}" class="btn btn-outline-dark text-body" data-mdb-ripple-init data-mdb-ripple-color="dark" style="z-index: 1;">
    Edit profile
</a>


            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ user.name }}</h5>
              <p>{{ user.country }}</p>
            </div>
          </div>
          <div class="p-4 text-black bg-body-tertiary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 h5">{{ user.age }}</p>
                <p class="small text-muted mb-0">Age</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ user.email }}</p>
                <p class="small text-muted mb-0">Email</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4 bg-body-tertiary">
                <p class="font-italic mb-1">Bio: {{ user.bio ? user.bio : 'No bio available' }}</p>
                <p class="font-italic mb-1">Speciality: {{ user.speciality ? user.speciality : 'No speciality available' }}</p>
<p class="font-italic mb-0">Diplôme: 
    {% if user.diplome %}
        <a href="{{ asset('uploads/pfp/' ~ user.diplome) }}" target="_blank">Voir le diplôme</a>
    {% else %}
        No diploma available
    {% endif %}
</p>
              </div>
            </div>
            

            
            <div class="d-flex justify-content-between align-items-center mb-4 text-body">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
